body { 
	background-color: #e9eaed;
	font-family: 'Lato',sans-serif;
	font-weight: 300;
	font-size: 100%;
	color: #4f5155;
	margin: 0px;
    min-width: 320px;
	}


/* headings */
h1 {
	font-size: 2.0em; /* 32px / 16px */
	font-weight: 700;
	margin: 0.1em;
}

h2 {
	font-size: 1.5em; /* 24px / 16px */
	font-weight: 700;
	margin: 0.1em;
}

h3 {
	font-size: 1.2em; /* 20px / 16px */
	font-weight: 400;
}

h4 {
	font-size: 1.0em; /* 16px / 16px */
	font-weight: 400;
	margin: 0.1em;
}

/*--------------------------------------------*/

hr.gray {
	border: none;
	background-color: #ccc;
	height: 1px;
	
}

/* hyperlink */
a {
	text-decoration: none;
	color: #4f5155;
}

a:hover {
	text-decoration: underline;
	color: #3498db;
}

a:visited {
	text-decoration: none;
	color: #4f5155;
}
/*--------------------------------------------*/

/* Tooltips */
.tooltip{
    position: relative;
    z-index: 99;
}

.tooltip span {
    display: none;
}

.tooltip:hover span {
    position: absolute;
    display: block;
    top: 2.8em; /* 36px / 16px */
    left: -0.75em; /* 12px / 16px */
    width: 6.25em; /* 100px / 16px */
    padding: 0.25em; /* 4px / 16px */
    color: #fff;
    background-color: #535663;
    font-size: 0.6em; /* 10px / 16px */
    text-align: center;
    text-decoration: none;
    border-radius: 0.25em; /* 4px / 16px */
}
/*--------------------------------------------*/

/* Form */
.input_text {
	border: 1px solid #ccc;
	border-radius: 0.2em; /* 3px / 16px */
	box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.075) inset;
	font-family: 'Lato',sans-serif;
	font-size: 1.2em; /* 20px / 16px */
	font-weight: 300;
	padding: 0.4em; /* 6px / 16px */
	width: 95%;
	margin-bottom: 0.4em;
}

.input_text:focus {  
	border-color: #66AFE9;
	outline: 0px none;
	box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.075) inset, 0px 0px 8px rgba(102, 175, 233, 0.6);
}  

.button_submit {
	background: #3498db;
	border: 1px solid #0c6ebe;
	border-radius: 0.2em; /* 3px / 16px */
	
	font-family: 'Lato',sans-serif;
	font-size: 1.0em; /* 16px / 16px */
	font-weight: 300;
	color: #fff;
	padding: 0.2em 1.5em; /* 6px / 16px */
	cursor: pointer;
}

.button_submit:hover {
	background: #0af;
}
/*--------------------------------------------*/

/* Index.html */
#box {
	position: relative;
	background-color: #fff;
	margin: 5.0em auto; /* 80px / 16px */
	width: 25em; /* 400px / 16px */
	box-shadow: 0px 0px 4px 1px #ccc;
}

#box_content {
	padding: 1.0em;
}

#index_header {
	position: relative;
	margin-bottom: 2.0em;
}

#index_footer {
	background-color: #3498db;
	margin-top: 1.0em;
	padding: 1.0em;
	color: #fff;
	font-size: 0.8em; /* 13px / 16px */
	font-weight: 400;
	
}

.divider1 {
	display: inline-block;
	border-left: 1px solid #6c7179;
	line-height: 1.0em;
	padding-left: 0.5em;
	margin-left: 0.5em;
}

.divider2 {
	display: inline-block;
	border-left: 1px solid #6c7179;
	line-height: 1.8em;
	padding-left: 1.0em;
	margin-left: 1.0em;
}

footer.start {
	position: absolute;
	width: 98%;
	bottom: 2%;
	text-align: right;
	font-size: 1.8em;
	color: #A4A4A4;
}
/*--------------------------------------------*/

/* messages */
.error {
	position: absolute;
	visibility: hidden;
	background-color: #ff8e81;
	border-top: 3px solid #c0392b;
	top: 0em; 
	left: 50%;
	margin-left: -12.5em;
	width: 25em; /* 400px / 16px */
	height: 1.8em;
	color: #c0392b;
	font-weight: 300;
	font-size: 1.0em; 
	text-align: center;
	padding-top: 0.8em;
	opacity: 0.8;
}

.error.active {
	visibility: visible;
}
/*--------------------------------------------*/

/* */
#content_container {
	position: relative;
    margin: 0 auto;
	width: 95%;
	top: 5.2em;	
}
/*--------------------------------------------*/

/*feeds*/
.feeds{
	background-color: #fff;
	border: 1px solid #dfe0e4;
	border-bottom: 2px solid #d0d1d5;
	margin-bottom: 1em;
}

.feeds .info_bar{
	height: 2.6em;
	border-bottom: 1px solid #d0d1d5;
}

.feeds .info_bar .avatar{
	width: 2.6em;
	height: 2.6em;
}

.feeds .info_bar .username{
	position: absolute;
	font-size: 1.5em;
	margin-top: 0.25em;
	margin-left: 0.8em;
}

.feeds .info_bar .time{
	position: absolute;
	font-size: 1em;
	margin-top: 0.75em;
	margin-left: 14.5em;
}

.feeds .info_bar .fa-thumbs-up{
	position: absolute;
	margin-top: 0.95em;
	right: 15.5em;
	color: #3498db;
}

.feeds .info_bar .like{
	position: absolute;
	margin-top: 0.75em;
	right: 11.5em;
	color: #3498db;
}

.feeds .info_bar .fa-comments-o{
	position: absolute;
	margin-top: 0.95em;
	right: 8em;
	color: #3498db;
}

.feeds .info_bar .comment{
	position: absolute;
	margin-top: 0.75em;
	right: 1.5em;
	color: #3498db;
}
/*--------------------------------------------*/

/*profile*/
#background-title{
	background-color: #81DAF5;
	border: 1px solid #dfe0e4;
	border-bottom: 2px solid #d0d1d5;
	margin-bottom: 1em;
    height: 20.0em /* 320px / 16px */
}

#profile {
    margin: 2.0em auto;
    text-align: center;
}

#profile-picture {
    margin: auto;
    background-color: red;
    border: 8px solid #fff;
    border-bottom: 25px solid #fff;
    width: 10.0em; /* 160px / 16px */
    height: 10.0em;
}

#profile h1 {
    color: #fff;
    font-weight: 700;
    font-size: 1.5em; /* 24px / 16px */
}

#profile h2 {
    color #e6e6e6;
    font-weight: 400;
    font-size: 1.2em; /* 20px / 16px */   
}

#equipment-tl-header{
    background-color: #394045 !important;
    border: 1px solid #dfe0e4;
    border-bottom: 2px solid dfe0e4;
    padding-left: 1.0em;
    margin-bottom: 1.0em;
    color: #fff;
}

#equipment-tl-header h1{
    font-size: 1.2em; /* 20px / 16px */
	font-weight: 400;
    margin: 0.4em;
}

#timeline {
    background-color: #fff;
    border: 1px solid #dfe0e4;
	border-bottom: 2px solid #d0d1d5;
	margin-bottom: 1em;
}
/*--------------------------------------------*/

/*friends*/
.friends{
	background-color: #fff;
	border: 1px solid #dfe0e4;
	border-bottom: 2px solid #d0d1d5;
	margin-bottom: 1em;
	margin-left: 0.1em;
	height: 4.2em;
	width: 49%;
	float: left;
}

.friends .fr-avatar{
	width: 4.2em;
	height: 4.2em;
	float: left;
}

.friends .realname{
	margin-top: 0.3em;
	margin-left: 1.5em;
	font-size: 1.5em;
	float: left;
}

.friends .username{
	font-size: 1.2em;
	margin-top: 1.7em;
	margin-left: -9.5em;
	float: left;
}

.friends .command{
	margin-top: 1.1em;
	margin-right: 1.5em;
	font-size: 1.2em;
	float: right;
}

.friends .icon-command{
	font-size: 1.8em;
	margin-top: 0.7em;
	margin-right: 1.2em;
	font-size: 1.8em;
	float: right;
}

/*--------------------------------------------*/
@media screen and (max-width: 580px) {
    div#menu_right {
        display: none;
    }
}
    
@media screen and (max-width: 460px) {
    div#menu {
        display: none;
    }
}

@media screen and (min-width: 580px) {
    div#mnu_right_mobile{
        display: none;
    }
}

@media screen and (min-width: 460px) {
    div#menu_mobile {
        display: none;
    }
}