body { 
	background-color: #efeff0;
	font-family: 'Lato',sans-serif;
	font-weight: 300;
	font-size: 100%;
	color: #4f5155;
	margin: 0px;
	}


/* headings */
h1 {
	font-size: 2.0em; /* 32px / 16px */
	font-weight: 700;
	margin: 0.1em;
}

h2 {
	font-size: 1.5em; /* 24px / 16px */
	font-weight: 700;
	margin: 0.1em;
}

h3 {
	font-size: 1.2em; /* 20px / 16px */
	font-weight: 400;
}

h4 {
	font-size: 1.0em; /* 16px / 16px */
	font-weight: 400;
	margin: 0.1em;
}

/*--------------------------------------------*/

hr.gray {
	border: none;
	background-color: #ccc;
	height: 1px;
	
}

/* hyperlink */
a {
	text-decoration: none;
	color: #4f5155;
}

a:hover {
	text-decoration: underline;
	color: #3498db;
}

a:visited {
	text-decoration: none;
	color: #4f5155;
}
/*--------------------------------------------*/

/* Form */
.input_text {
	border: 1px solid #ccc;
	border-radius: 0.2em; /* 3px / 16px */
	box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.075) inset;
	font-family: 'Lato',sans-serif;
	font-size: 1.2em; /* 20px / 16px */
	font-weight: 300;
	padding: 0.4em; /* 6px / 16px */
	width: 95%;
	margin-bottom: 0.4em;
}

.input_text:focus {  
	border-color: #66AFE9;
	outline: 0px none;
	box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.075) inset, 0px 0px 8px rgba(102, 175, 233, 0.6);
}  

.button_submit {
	background: #3498db;
	border: 1px solid #0c6ebe;
	border-radius: 0.2em; /* 3px / 16px */
	
	font-family: 'Lato',sans-serif;
	font-size: 1.0em; /* 16px / 16px */
	font-weight: 300;
	color: #fff;
	padding: 0.2em 1.5em; /* 6px / 16px */
	cursor: pointer;
}

.button_submit:hover {
	background: #0af;
}
/*--------------------------------------------*/

/* Index.html */
#box {
	position: relative;
	background-color: #fff;
	margin: 5.0em auto; /* 80px / 16px */
	width: 25em; /* 400px / 16px */
	box-shadow: 0px 0px 4px 1px #ccc;
}

#box_content {
	padding: 1.0em;
}

#index_header {
	position: relative;
	margin-bottom: 2.0em;
}

#index_footer {
	background-color: #3498db;
	margin-top: 1.0em;
	padding: 1.0em;
	color: #fff;
	font-size: 0.8em; /* 13px / 16px */
	font-weight: 400;
	
}

.divider1 {
	display: inline-block;
	border-left: 1px solid #6c7179;
	line-height: 1.0em;
	padding-left: 0.5em;
	margin-left: 0.5em;
}

.divider2 {
	display: inline-block;
	border-left: 1px solid #6c7179;
	line-height: 1.8em;
	padding-left: 1.0em;
	margin-left: 1.0em;
}

footer.start {
	position: absolute;
	width: 98%;
	bottom: 2%;
	text-align: right;
	font-size: 1.8em;
	color: #A4A4A4;
}
/*--------------------------------------------*/

/* messages */
.error {
	position: absolute;
	visibility: hidden;
	background-color: #ff8e81;
	border-top: 3px solid #c0392b;
	top: 0em; 
	left: 50%;
	margin-left: -12.5em;
	width: 25em; /* 400px / 16px */
	height: 1.8em;
	color: #c0392b;
	font-weight: 300;
	font-size: 1.0em; 
	text-align: center;
	padding-top: 0.8em;
	opacity: 0.8;
}

.error.active {
	visibility: visible;
}
/*--------------------------------------------*/

/* */
#content_container {
	position: relative;
	width: 100%;
	top: 5.0em;	
}